BSRBanking/Connected Services/Service/BankingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64579/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" />
  <xs:import schemaLocation="http://localhost:64579/BankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Dtos" />
  <xs:element name="GetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" minOccurs="0" name="GetHistoryResult" nillable="true" type="q1:HistoryListResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" minOccurs="0" name="GetBankAccountResult" nillable="true" type="q2:BankResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Dtos" minOccurs="0" name="action" nillable="true" type="q3:AccountActionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" minOccurs="0" name="TransferResult" nillable="true" type="q4:BoolResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="External">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Dtos" minOccurs="0" name="action" nillable="true" type="q5:AccountActionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" minOccurs="0" name="ExternalResult" nillable="true" type="q6:BoolResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Dtos" minOccurs="0" name="action" nillable="true" type="q7:AccountActionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" minOccurs="0" name="WithdrawResult" nillable="true" type="q8:BoolResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Dtos" minOccurs="0" name="action" nillable="true" type="q9:AccountActionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" minOccurs="0" name="DepositResult" nillable="true" type="q10:BoolResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q11:UserResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>