BSRBanking/Connected Services/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64579/BankingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64579/BankingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64579/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Base" />
      <xsd:import schemaLocation="http://localhost:64579/BankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Dtos" />
      <xsd:import schemaLocation="http://localhost:64579/BankingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BSRBankingDataContract.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountManager_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_Transfer_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_Transfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_External_InputMessage">
    <wsdl:part name="parameters" element="tns:External" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_External_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExternalResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountManager">
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetHistory" message="tns:IAccountManager_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetHistoryResponse" message="tns:IAccountManager_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetBankAccount" message="tns:IAccountManager_GetBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetBankAccountResponse" message="tns:IAccountManager_GetBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/Transfer" message="tns:IAccountManager_Transfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/TransferResponse" message="tns:IAccountManager_Transfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="External">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/External" message="tns:IAccountManager_External_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/ExternalResponse" message="tns:IAccountManager_External_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/Withdraw" message="tns:IAccountManager_Withdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/WithdrawResponse" message="tns:IAccountManager_Withdraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/Deposit" message="tns:IAccountManager_Deposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/DepositResponse" message="tns:IAccountManager_Deposit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAuthorization">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorization/AuthenticateUser" message="tns:IAuthorization_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorization/AuthenticateUserResponse" message="tns:IAuthorization_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountManager" type="tns:IAccountManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="http://tempuri.org/IAccountManager/GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountManager/GetBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <soap:operation soapAction="http://tempuri.org/IAccountManager/Transfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="External">
      <soap:operation soapAction="http://tempuri.org/IAccountManager/External" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IAccountManager/Withdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/IAccountManager/Deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAuthorization" type="tns:IAuthorization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IAuthorization/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IAccountManager" binding="tns:BasicHttpBinding_IAccountManager">
      <soap:address location="http://localhost:64579/BankingService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAuthorization" binding="tns:BasicHttpBinding_IAuthorization">
      <soap:address location="http://localhost:64579/BankingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>